.main {
    width: 80%;
    height: 70%;
    padding: 30px;
    background-color: #034f84 ;
    overflow: auto;
    margin: 140px auto auto auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}